body{
    background-image: url("../../resources/img/DTVRsa2.jpg");
    background-attachment: fixed;
}

header{
    background-image: url("../../resources/img/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    height: 150px;
    color: white;
    font-size: 4em;
    text-align: bottom;
}

@media all and (max-width: 1920px){
    body{
        background-image: url("../../resources/img/DTVRsa2_1080.jpg");
    }

    header{
        background-image: url("../../resources/img/header_1920.jpg");
        
    }
}

@media all and (max-width: 1366px){
    body{
        background-image: url("../../resources/img/DTVRsa2_1366.jpg");
    }

    header{
        background-image: url("../../resources/img/header_1366.jpg");
        
    }
}


#menu>li{
    display: inline-block;
    padding: 1%;
}

#menu>li>a{
    text-decoration: none;
    color: white;
}

#menu>li:hover{
    background-color: black;
    color: white;
}

article{
    margin: 2% 2%;
    background-color: white;
    height: 500px;
}

table td>img{
    width: 50%;
}

.productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

img{
    width: 40%;
}

#datos_producto{
    width: 50%;
    margin: auto auto;
}